DotNetSamples/soap/iosKiosk/Service References/CodeproofService/CodeproofService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CodeproofService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICodeproofService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.codeproof.com/webservice/public/v1/CodeproofService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.codeproof.com/webservice/public/v1/CodeproofService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.codeproof.com/webservice/public/v1/CodeproofService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Codeproof.External.Webservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICodeproofService_GetCPIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCPIDs" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_GetCPIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCPIDsResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_GetDeviceProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceProperty" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_GetDeviceProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_AddPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicy" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_AddPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_PingDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:PingDevice" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_PingDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_GetSoftwares_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwares" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_GetSoftwares_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftwaresResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_AddSoftware_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSoftware" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_AddSoftware_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSoftwareResponse" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_UpdateSoftware_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoftware" />
  </wsdl:message>
  <wsdl:message name="ICodeproofService_UpdateSoftware_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSoftwareResponse" />
  </wsdl:message>
  <wsdl:portType name="ICodeproofService">
    <wsdl:operation name="GetCPIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/GetCPIDs" message="tns:ICodeproofService_GetCPIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/GetCPIDsResponse" message="tns:ICodeproofService_GetCPIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/GetDeviceProperty" message="tns:ICodeproofService_GetDeviceProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/GetDevicePropertyResponse" message="tns:ICodeproofService_GetDeviceProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/ExecuteCommand" message="tns:ICodeproofService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/ExecuteCommandResponse" message="tns:ICodeproofService_ExecuteCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/AddPolicy" message="tns:ICodeproofService_AddPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/AddPolicyResponse" message="tns:ICodeproofService_AddPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/PingDevice" message="tns:ICodeproofService_PingDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/PingDeviceResponse" message="tns:ICodeproofService_PingDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftwares">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/GetSoftwares" message="tns:ICodeproofService_GetSoftwares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/GetSoftwaresResponse" message="tns:ICodeproofService_GetSoftwares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSoftware">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/AddSoftware" message="tns:ICodeproofService_AddSoftware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/AddSoftwareResponse" message="tns:ICodeproofService_AddSoftware_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSoftware">
      <wsdl:input wsaw:Action="http://tempuri.org/ICodeproofService/UpdateSoftware" message="tns:ICodeproofService_UpdateSoftware_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICodeproofService/UpdateSoftwareResponse" message="tns:ICodeproofService_UpdateSoftware_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICodeproofService" type="tns:ICodeproofService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICodeproofService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCPIDs">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/GetCPIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceProperty">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/GetDeviceProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/AddPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingDevice">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/PingDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoftwares">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/GetSoftwares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSoftware">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/AddSoftware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSoftware">
      <soap:operation soapAction="http://tempuri.org/ICodeproofService/UpdateSoftware" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeproofService">
    <wsdl:port name="BasicHttpBinding_ICodeproofService" binding="tns:BasicHttpBinding_ICodeproofService">
      <soap:address location="https://www.codeproof.com/webservice/public/v1/CodeproofService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>